.produto-card:hover {
    transform: translateY(-5px);
}

.btn:hover {
    background-color: var(--cor-terciaria);
}

nav ul li a:hover, 
nav ul li a.active {
    background-color: var(--cor-secundaria);
}

.logo h1 {
    font-size: 0.5rem;
    font-weight: bold;
    animation: logoAumentar 3s linear infinite;
    width: 30%;
    height: 100%;
}

@keyframes logoAumentar {
    from,to{
        scale: 100%;
    }
    50%{
        scale: 80%;
    }
}

.footer-redes ul li a:hover {
    text-decoration: underline;
}

.btn-comprar:hover {
    background-color: var(--cor-terciaria);
}

.categoria-card:hover img {
    transform: scale(1.05);
}

.categoria-card .btn-categoria:hover {
    opacity: 100%;
    background-color: rgb(208, 172, 255);
    color: white;
}

.clube .btn:hover {
    background-color: var(--cor-cinza);
}

tbody tr:hover {
    background-color: rgba(106, 13, 173, 0.05);
}

.valor-card:hover {
    transform: translateY(-5px);
}

.timeline-conteudo:hover {
    transform: translateY(-5px  );
    background-color: rgb(208, 172, 255);
}

.galeria-item:hover img {
    transform: scale(1.05);
}

.form-grupo button:hover {
    background-color: var(--cor-terciaria);
}

.faq-item h3:hover {
    color: var(--cor-secundaria);
}

.blog-card:hover {
    transform: translateY(-5px);
}

.btn-blog:hover {
    background-color: var(--cor-terciaria);
}

.btn-evento:hover {
    background-color: var(--cor-terciaria);
}

.newsletter-form .btn:hover {
    background-color: var(--cor-cinza);
}

.blog-card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.btn-blog {
    display: inline-block;
    background-color: var(--cor-primaria);
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.btn-evento {
    display: inline-block;
    background-color: var(--cor-primaria);
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.newsletter-form .btn {
    background-color: white;
    color: var(--cor-primaria);
    border: none;
    padding: 12px 25px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}